
<!-- Locality -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].locality.section | default: "locality" }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].locality.title}}</h2>        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <div class="large text-muted">{{ site.data.sitetext[site.locale].locality.address | markdownify }}</div>
        </div>
      </div>
    </div>
  </section>
<!-- End Locality -->